:root[data-theme="dark"] {
  color-scheme: dark;
  --background-color: #565656;

  --primary-color: #e0e0e0;
  --secondary-color: #b0b0b0;

  --border-color: lightgray;

  --card-bg: #9b9b9b;

  --tag-background-color: rgba(107, 126, 222, 0.708);

  --input-background-color: #99989850;
}
