:root[data-theme="light"] {
  color-scheme: light;
  --background-color: #f0f0f0;
  --primary-color: #010101;
  --secondary-color: #888888;

  --border-color: #444444;

  --dividers-color: #444444;
  --accent: #888888;

  --tag-background-color: lightblue;
}
