@use "./darkTheme";
@use "./lightTheme";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

p {
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
