.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 4rem;
  align-items: center;
  margin: 0 10%;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  height: 8rem;
  margin: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  > * {
    background-color: var(--background-color);
  }
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.nav-linksopen {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
  height: 3rem;
  align-items: center;

  li {
    margin: 0 2rem;

    :hover {
      border-bottom: 2px solid var(--primary-color);
      color: var(--secondary-color);
      transform: scale(1.5);
      transition: all 0.5s ease-in-out;
    }
  }

  a {
    display: inline-block;
    font-size: 1.5rem;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.logo {
  a {
    display: inline-block;
  }

  :hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }
}

.menu-btn {
  display: none;
}

.dark-mode-toggle {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: var(--background-color) 0.3s ease;
  justify-self: flex-end;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;

    cursor: pointer;
    position: relative;
  }

  .nav-links {
    z-index: -1;
    flex-direction: column;
  }

  .nav-linksopen {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
    transition: all 0.5s;

    li {
      text-align: center;
      list-style: none;
      display: flex;
      padding: 0.4rem 1rem;
      border-radius: 2rem;
    }
  }
}
