.projects {
  padding-bottom: 20px;

  h2 {
    margin-left: 2rem;
    text-align: center;
    font-style: oblique;
  }

  #solo {
    animation: moveLeftToRight 1.5s ease-in;
  }

  #group {
    animation: moveRightToLeft 1.5s ease-in;
  }
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
