.tag {
  display: inline-block;
  background-color: lightblue;
  color: var(--primary-color);
  padding: 0.3rem 0.4rem;
  border-radius: 4rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  box-shadow: 0 5px 10px 5px rgba(107, 126, 222, 0.708);
  transition: all 0.3s ease-in-out;
  margin: 1rem;

  h3 {
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--primary-color);

    :hover {
      color: var(--secondary-color);
      cursor: pointer;
    }
  }

  .project-source {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .project-container {
    display: flex;
    gap: 2rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid #000111;
  }
}

.project-tags {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  a {
    user-select: none;
    touch-action: manipulation;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      border: 1px solid #000111;
    }
  }
}
